.navbar-brand{
    font-size: 30px;
}
.navbar-collapse{
    font-size: 20px;
}
.navbar{
    font-family: 微软雅黑,"Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
}
.navigation-bar{
    display: none;
}
.top-floor{
    text-align: center;
}
.sec-floor{
    margin-top: -40px;
}
.sec-floor-content{
    margin-top: -6px;
}
.component-floor {
    padding: inherit;
    text-align: center;
}


.picturesShowModule{
    display: none;
}
