
.navbar{
    margin-left: -1px;
    margin-right: -1px;
}

.top-floor{
    text-align: center;
}
.sec-floor{
    margin-top: -41px;
}
.sec-floor-content{
    margin-top: -6px;
}
.component-floor{
    padding: inherit;
}