.navbar-brand{
    font-size: 30px;
}
.navbar-collapse{
    font-size: 20px;
}
.navbar{
    font-family: 微软雅黑,"Helvetica Neue", Helvetica, Arial, sans-serif;
    border: none;
}
.navigation-bar{
    display: none;
}
.top-floor{
    text-align: center;
}
.sec-floor{
    margin-top: -40px;
}
.sec-floor-content{
    margin-top: -6px;
}
.component-floor {
    padding: inherit;
    text-align: center;
}

.pictureGrid .row:nth-child(2),.pictureGrid .row:nth-child(3),.pictureGrid .row:nth-child(4),.pictureGrid .row:nth-child(5),.pictureGrid .row:nth-child(6),.pictureGrid .row:nth-child(7),.pictureGrid .row:nth-child(8),.pictureGrid .row:nth-child(9){
    margin-top: 10px;
}
.picturesShowModule{
    display: none;
}
